DATA_FOLDER_PATH=./data          # Path where certificate data will be stored
SECRET_FOLDER_PATH=.             # Path where certbot.env is located
EMAIL=example@example.com        # Email for Let's Encrypt notifications
DOMAIN_NAME=example.com          # Domain to issue cert for (e.g. *.example.com for wildcard)
TIMEZONE=Europe/Budapest         # Container timezone